
# Ignore huge datasets
datasets/
models/

# Ignore Python cache and env
__pycache__/
*.pyc
venv/
.env

# Ignore frontend build artifacts
frontend/node_modules/
frontend/.next/
frontend/out/

# Ignore logs and temp files
*.log
*.txt
!README.md
!DATASET_GUIDE.md
!requirements.txt
!backend/requirements.txt
*.db
*.bat
config_history.txt
config_log.txt
final_final_serveo.txt
final_final_serveo_utf8.txt
final_serveo.txt
final_serveo_utf8.txt
lt_log.txt
lt_log_persistent.txt
persistent_lt.txt
pinggy.txt
pinggy_final.txt
serveo_persistent.txt
tunnel_link.txt
tunnel_log.txt
